@charset "utf-8";html{background-color:#fff;color:#000;font-size:12px}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;height: 100%;-webkit-tap-highlight-color: transparent;}
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;line-height: 1;-webkit-text-size-adjust: none;}
hr {height: .02rem;margin: .0.5rem 0;border: medium none;border-top: .02rem solid #cacaca;}
a {color: #25a4bb;text-decoration: none;}

.shake-opacity {
  -webkit-animation-name: shake-opacity;
  -ms-animation-name: shake-opacity;
  animation-name: shake-opacity;
  -webkit-animation-duration: 200ms;
  -ms-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running
}
.shake-faguang {
  -webkit-animation-name: faguang;
  -ms-animation-name: faguang;
  animation-name: faguang;
  -webkit-animation-duration: 3000ms;
  -ms-animation-duration: 3000ms;
  animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running
}
.skill-li:nth-child(2) {
  animation: shake-left2 800ms ease-in-out 1 forwards
}
.skill-li:nth-child(3) {
  animation: shake-left3 900ms ease-in-out 1 forwards
}
.skill-li:nth-child(4) {
  animation: shake-left4 1000ms ease-in-out 1 forwards
}
.skill-li:nth-child(5) {
  animation: shake-left5 1100ms ease-in-out 1 forwards
}
.opacity {
  animation: opacity 1500ms ease-in-out 2 forwards
}
.opacity2 {
  animation: opacity2 1500ms ease-in-out 2 forwards
}
.loader{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0.2rem solid rgba(255,255,255,.2);
  border-right: 0.2rem solid rgba(255,255,255,.2);
  border-bottom: 0.2rem solid rgba(255,255,255,.2);
  border-left: 0.2rem solid #eee;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  z-index: 2;
}
.loader-box {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0.6rem, -0.6rem);
  background: rgba(0,0,0,0.6);
  z-index: 1;
}
@keyframes load8{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes opacity2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  80%{
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes faguang {
  0% {
    text-shadow: 0 0 0.1rem #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
  }
  20% {
    text-shadow: none
  }
  40% {
    text-shadow: 0 0 0.1rem #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
  }
  60% {
    text-shadow: none
  }
  80% {
    text-shadow: 0 0 0.1rem #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
  }
  100% {
    text-shadow: none
  }
}
@keyframes shake-opacity {
  0% {
      transform: translate(0px, 0px) rotate(0deg);
      opacity: 0.6
  }
  20% {
      transform: translate(-2px, -1px) rotate(-0.5deg);
      opacity: 0.5
  }
  40% {
      transform: translate(-4px, 1px) rotate(-2.5deg);
      opacity: 0.5
  }
  60% {
      transform: translate(-2px, 4px) rotate(0.5deg);
      opacity: 0.1
  }
  80% {
      transform: translate(0px, 0px) rotate(-0.5deg);
      opacity: 0.5
  }
  90% {
      transform: translate(2px, -1px) rotate(-2.5deg);
      opacity: 0.8
  }
}

@keyframes shake-left2 {
  0% {
    left: 0
  }
  100% {
    left: 1.35rem
  }
}
@keyframes shake-left3 {
  0% {
    left: 0
  }
  100% {
    left: 2.75rem
  }
}
@keyframes shake-left4 {
  0% {
    left: 0
  }
  100% {
    left: 4.15rem
  }
}
@keyframes shake-left5 {
  0% {
    left: 0
  }
  100% {
    left: 5.5rem
  }
}
